@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.bg_semana {
	width: 100%;
	min-height: 300px;
	background: url('http://fotografias.antena3.com/clipping/cmsimages02/2017/02/28/FF43536B-DD92-4E2A-A6CA-3B311F3F49D4/57.jpg') no-repeat 0 0;
	background-size: cover;
}

.destacados {
	article {
		margin-bottom: 10px;
	}
}

//Fonts
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?qlqra3');
  src:  url('../fonts/icomoon/icomoon.eot?qlqra3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?qlqra3') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?qlqra3') format('woff'),
    url('../fonts/icomoon/icomoon.svg?qlqra3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 40px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-logo-button:before {
  content: "\e900";
}
.icon-instagram-logo:before {
  content: "\e901";
}
.icon-twitter-logo-button:before {
  content: "\e902";
}

.social {
    ul {
        list-style: none;
    }
}